_ngo/netlist.lst
_xmsgs/*.xmsgs
*.bgn
*.bld
*.clk_rgn
*.cmd_log
*.dly
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.syr
*.twr
*.twx
*.unroutes
*.xwbt
*.map
*.mrp
*.ngm
*.xrpt
*.xst
*.html
*.lso
*.psr
*.prj
*.ptwx
*.stx
*.ut
*.xpi
glib_top*
glib_top_pad.csv
glib_top_pad.txt
glib_top_par.xrpt
glib_top_summary.xml
glib_top_usage.xml
glib_top_xst.xrpt
glib_v3_basic.gise
isim.*
isim/
iseconfig/glib_top.xreport
*.log
webtalk_pn.xml
xlnx_auto_0_xdb/cst.xbcd
xst/work/work.vdbl
xst/work/work.vdbx
glib_top.bit
iseconfig/
